
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or your global stylesheet */
@keyframes spin {
  to { transform: rotate(360deg); }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

:root {
  --neon: rgb(255, 255, 255);
  --neon-foreground: #fff;
}

.text-neon {
  color: var(--neon);
}

.text-glow {
  text-shadow: 0 0 10px var(--neon), 0 0 20px var(--neon);
}

.shadow-neon {
  box-shadow: 0 0 10px var(--neon), 0 0 20px var(--neon);
}

.hover\:shadow-neon:hover {
  box-shadow: 0 0 20px var(--neon), 0 0 40px var(--neon);
}

.hover\:text-neon-foreground:hover {
  color: var(--neon-foreground);
}
